*.log
**/.DS_Store
node_modules
dist
.parcel-cache
**/*.tgz
**/*.gz
package
dist-gh-pages
dist-gh

.notes
.redundant

# Data
raw-data/*.json
assets/mpc-data/asteroids/*.json
assets/mpc-data/comets/*.json
